<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" content=""/>
	<title>中国坐标 * @ViewBag.Title</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="中国坐标,城市定向赛"/>
	<meta content="" name="author" />
    <link href="@Url.Content("/Content/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/jNotify/jquery/jNotify.jquery.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/jNotify/jquery/jNotify.jquery.min.js")"></script>

@*    <style type="text/css">
    *{font-family: "微软雅黑";font-size: 16px}
    .banner{height: 149px;background-color: #229fe6;text-align: center}

    .nav{height: 48px;background-color: #145976;text-align: center;}
    .nav ul{list-style-type: none;text-align: center;margin-left: 10%}
    .nav ul li{float: left;font-size: 1.2em;line-height: 48px;color: #ffffff;margin: 0 15px}
    .nav ul li a{padding: 0 15px;color: #ffffff;text-decoration: none}
    .nav ul li:hover{background-color: #b23232}

    .content{background-color: #ffffff;height: 100%}
    .content .bor{border: 1px solid #bcbcbc;border-radius: 15px;padding: 50px 10px;margin: 30px}
    .content h3{text-align: center;margin: 20px auto !important;}
    .content h5{color: red}
    .content h5{margin-left: 30%}
    .content p{margin-left: 30%}
    .content .form-group{width: 305px;margin: 15px auto}
    .content .form-group input{display: inline}
    .content .form-control{width: 200px}
    .content .next{width: 305px}
    .content .space{height: 30px}
    .foot{height: 150px;background-color: #229fe6;text-align: center;padding: 20px 0;color: #ffffff}
    </style>*@

    @RenderSection("PageSpecificStyleSheetIncludes", required: false)
</head>
<body>
   
    <div class="header banner">
        <img alt='' src="@Url.Content("~/Content/images/banner.png")">
    </div>
    <div class="header nav">
        <ul>
            <li><a>首页</a></li>
            <li><a>活动概述</a></li>
            <li><a>赛事规程</a></li>
            <li><a>赛事报名</a></li>
            <li><a>参赛须知</a></li>
            <li><a>赛事公告</a></li>
        </ul>
    </div>

     @RenderBody()

    <div class="foot">
        <p></p>
        <p>ICP备案：沪ICP备09065014号 版权所有：上海市登山运动协会 2015</p>
        <p>地址：上海市漕溪北路1111号小白楼205室 邮编：200030</p>
        <p>电话： 64385182 64266666-2518 传真：(021)64697960</p>
    </div>

     @RenderSection("PageSpecificJavascriptIncludes", required: false)
</body>
</html>
